@media (max-width: 380px) {
    img {
        max-width: 260px;
    }

    h2 {
        font-size: 24px;
        line-height: 26px;
    }

    .btn-buy {
        padding: 24px 48px;
    }

    .countdown {

        h3 {
            font-size: 14px;
            line-height: 16px;
        }

        &__item{
            min-width: 40px;
            border-radius: 10%;
            padding: 3px 0px;
            margin: 0 5px;
            font-size: 12px;
    
            span {
                font-size: 24px;
                font-weight: 700;
            }
        }
    }

    h3 {
        font-size: 22px;
        line-height: 24px;
    }

    blockquote {
        margin: 20px 10px 10px 10px;
        padding: 20px 20px 20px 40px;

        &::before {
            opacity: 10%;
        }
        
    }

    .container {
      
    }

    .header {

        &__contaner {
            justify-content: space-between;
        }
    
        &__logo {
            img {
                max-width: 70px;
            }
        }
    
        &__menu {
        }
    
    }

    .menu { 
        &__nav {
            display: block;
            text-align: center;  
        }
    
        &__item {
            margin: 0 0 60px 0px;

            & + .menu__item {
                padding: 0 0 0 0px;
            }

            &:last-child {
                margin-bottom: 0;
            }
    
            a {
                font-size: 36px;
            }
            
        }
    }

    .hero {

        &__inner {
        }
    
            &__columns {
                // padding-top: 20px;
                // align-items: center;
                

            }

            &__column-1 {
               
            }

            &__column-2 {
               
            }

            .hero__column-2 h1 {
                line-height: 54px;
    
                span {
                    font-size: 28px;
                }
            }
    
    
            &__list {
               
                
            }
    
            &__item {
                margin: 0;
                padding: 0;
                margin-bottom: 10px;
               
    
                &::before {
               
                }
            }
    
            &__image {
                width: 100%;
                text-align: center;
                

                img {
                    max-width: 320px;
                }
                
            }
    }

    

    .description {

        &__inner {
            margin: 0 20px;
        }

        &__columns {
            margin-bottom: 0px;
        }
        &__column-1 {
                img {
                    max-width: 300px;
                }
            
        }

       
    }

    .differences {
        &__common-left {
            img {
                max-width: 300px;
            }
        }
        &__gelmiflor-right {
            img {
                max-width: 300px;
            }
        }
    }

    .buy {

        &__price-new {
            span {
                font-size: 48px;
            }
        }

        &__column-1 {
            width: 100%;
        }
        &__column-2 {
            img {
                max-width: 260px;
            }
        }

        &__bloquote {
            margin: 10px;
            align-items: start;
            img {
                max-width: 30px;
                margin: 10px 0 0 5px;
            }
            p {
                font-size: 14px;
                line-height: 16px;
                padding: 10px;
            }
        }
    }

    .composition {

    

        &__inner {
            
        }
    
        &__items {
        }

        &__item {

        }
    
        &__item:nth-child(odd) {

            
        }

        &__item:nth-child(even) {

            
        }
    
        &__item-section {
            img {
                max-width: 300px;
            }
        }
    }

    .pharmacology {

        &__drug-1 {
           
            img {
                max-width: 340px;
            }
       }

       &__confa-2 {
           
           img {
               max-width: 340px;
           }
       }
   }

   .complications {

    &__column-1 {
        img {
            max-width: 340px;
        }
    }
}


.prevention {

    &__item-section {
        img {
            max-width: 300px;
        }
    }
}

    .warning {
       & p {margin: 20px;}
            
       &::before {
           display: none;
        }
        
        
        margin: 10px;
            p {
                font-size: 16px;
                line-height: 18px;
                
            }
    }

    .how {
    
        &__column-2 {
            img {
                max-width: 300px;
            }
            
        }

        &__symptoms-image {
            img {
            max-width: 300px;
           }
        }
    }

    

    .conditions {
        &__buy-form {
            margin: 0;
        }
    }

    .pharmacies {
    
        &__items {
            max-width: 360px;
        }
    
        &__item {
            max-width: 260px;
            
        }
    }


    .popup-order {
    }
    .popup {
    
            &__body {
            }
    
            &__content {
                max-width: 300px;
            }
    
            &__close {
            }
    
            &__buy-form {
                h3 {
                    margin: 0px;
                }
        
                p {
                    margin: 0px;
                }

                & input[type="text"] { 
                    
                    height: 40px;
                    font-size: 20px;
                    line-height: 22px;
                }
        
                & input[type="tel"]{ 
                    
                    height: 40px;
                    font-size: 20px;
                    line-height: 22px;
                }
            }
    
            &__price-new {
                span {
                    font-size: 24px;
                    line-height: 26px;
                }
                
            }
            
            &__price-old {
                span {
                    font-size: 18px;
                    text-decoration: line-through;
                }
            }
    
            &__countdown {
                .countdown__items span {
                    font-size: 20px;
                }
            }
    }
    .close-popup {
    }
    .buy {
    
            &__price-new {
            }
    
            &__price-old {
            }
    
            &__checkbox {
                font-size: 8px;
                line-height: 10px;
            }
    }
    .countdown {
    
            &__items {
            }
    
            &__item {
            }
    
            &__item-day {
            }
    
            &__item-hour {
            }
    
            &__item-minute {
            }
    
            &__item-second {
            }
    }
    .offername {
    }
    .btn-buy-form {
        padding: 10px;
    }

    //-----------------

    .hero-pages {
        padding: 10px 0 0 0;

		&__content {
            padding: 25px 0 5px;
		}

		&__text {
            
            margin: 40px 0 0 0;
		}

		&__title {
            font-size: 18px;
            line-height: 22px;
		}

		&__small-title {
            margin: 0 0 10px 0;
		}

        &__sub-title {
            font-size: 9px;
            line-height: 12px;

        }

		&__image {
            img {
                max-width: 160px;
            }
		}

		&__buttons {
            width: 100%;
            text-align: center;
		}

        &__contacts {
            margin: 5px 0 5px 0;
            font-size: 10px;
            display: flex;
            justify-content: center;

            div {
                margin: 0 10px;
            }
        }

		&__btn-1 {
            margin: 0px 0 10px 0;
		}

    }

    //-----------------

    .instruction {
        &__inner {
            margin: 0 20px;
        }
        &__image {
            img {
                max-width: 260px;
            }
        }
    }

    //-----------------
    .doctors {

        &__btn {
            a {
                font-size: 10px;
            }
        }
       
    }

    //------------------
    #map {
        width: 300px; height: 300px;
      }

    .contacts {
        &__inner {
            margin: 0 20px;
    
        }
        &__map {
            margin: 0 0 20px 0;
            max-width: 330px;
            max-height: 220px;
        }
        &__team {
    
        }
        &__team-item {
            img {
            }
    
        }
    }
    

    


    
}